logger:
  level: "debug"

nats:
  is_jetstream: true
  all_existing_streams: true
  new_stream_allow: true
  streams:         
    name: "stream"
    subject: "test"   # optional
  url: "localhost:4222"
  publish_interval: 2s
  request_timeout: 50ms
  max_pub_acks_inflight: 1000
  flush_timeout: 2s
  max_retries: 10
  retry_delay: 5s
  retry_backoff_multiplier: 2.0

metric:
  server:
    address: ":8080"
  enabled: true