# Default values for blackbox-exporter.
# to disable exporter just set replicaCount to 0
replicaCount: 1

image:
  repository: ghcr.io/snapp-incubator/nats-blackbox-exporter
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podLabels: {}

podSecurityContext:
  {}
  # fsGroup: 2000

securityContext:
  {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

livenessProbe:
  httpGet:
    path: /metrics
    port: metrics
readinessProbe:
  httpGet:
    path: /metrics
    port: metrics

logLevel: debug

podMonitor:
  enabled: true

nats:
  is_jetstream: true
  all_existing_streams: true
  streams: []
  url: nats://{{ .Release.Name }}.{{ .Release.Namespace }}.svc.cluster.local:4222
  publish_interval: 2s
  request_timeout: 50ms
  max_pub_acks_inflight: 1000
  flush_timeout: 2s
  new_stream_allow: false
  region: "none"
  max_retries: 10
  retry_delay: 1s
  retry_backoff_multiplier: 2.0
metrics:
  port: 8080
